[submodule "Engine/src/ThirdPart/vendored/SDL"]
	path = Engine/src/ThirdPart/vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Engine/src/ThirdPart/glew"]
	path = Engine/src/ThirdPart/glew
	url = https://github.com/nigels-com/glew.git
[submodule "Engine/src/ThirdPart/vk-bootstrap"]
	path = Engine/src/ThirdPart/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "Engine/src/ThirdPart/VulkanMemoryAllocator"]
	path = Engine/src/ThirdPart/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Engine/src/ThirdPart/vcpkg"]
	path = Engine/src/ThirdPart/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "Engine/tool/vcpkg"]
	path = Engine/tool/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "Engine/tool/glslc"]
	path = Engine/tool/glslc
	url = https://github.com/pixeljetstream/glslc.git
